<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About Us', about_path %></li>


    <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
      <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
    <% else %>
        <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
    <% end %>

  <%= render 'layouts/navigation_links' %>
</ul>
